<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-left">
        <a class="footer-logo" href="{{ "/" | relative_url }}">shouldgo.me</a>
        <div class="footer-links">
          <a class="text-s footer-link" href="https://facebook.com/shouldgo">фейсбук</a>
          <a class="text-s footer-link" href="https://linkedin.com/in/shouldgo">линкедин</a>
          <a class="text-s footer-link" href="{{ '/about' | relative_url }}">эбаут</a>
        </div>
      </div>
      <div class="footer-right">
        <span class="copyright">Dima Afonin © 2009 - 2025</span>
      </div>
    </div>
  </div>
</footer>
