<style>
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 2em auto;
  }

  .grid-item {
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
  }

  @media (max-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }

</style>

<div class="grid-gallery">
  {% assign gallery_images = site.static_files | where_exp: "f", "f.path contains '/assets/images/gallery/'" %}
  {% assign sorted_images = gallery_images | sort: "name" | reverse %}
  {% for image in sorted_images %}
    {% unless image.path contains '/thumbs/' %}
      <div class="grid-item">
        <a
          href="{{ image.path }}"
          class="glightbox"
          data-gallery="gallery">
          <img
            src="{{ image.path | replace: '/gallery/', '/gallery/thumbs/' }}"
            alt="Gallery image"
            loading="lazy">
        </a>
      </div>
    {% endunless %}
  {% endfor %}
</div>