<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
      <nav class="flex site-nav">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">shouldgo.me</a>
        <input type="checkbox" id="burger-toggle" class="burger-toggle" aria-label="Открыть меню" />
        <label for="burger-toggle" class="flex burger" aria-hidden="true">
          <span></span><span></span><span></span>
        </label>
        <div class="flex serif nav-links">
          <a class="page-link" href="https://www.facebook.com/dima.afonin">фейсбук</a>
          <a class="page-link" href="https://linkedin.com/in/shouldgo">линкедин</a>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title and my_page.path != 'CLAUDE.md' -%}
              {% if my_page.path == 'about.markdown' %}
                <a class="page-link" href="{{ my_page.url | relative_url }}">эбаут</a>
              {% else %}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% endif %}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
