.paginator {
  flex-direction: row;
  justify-content: center;
  padding: 2em 0;

  > * {
    display: block;
    padding: .5em 1em;
    text-align: center;
  }

  a { color: $grey-color !important; }
}

.paginator-current {
  color: $dark-color;
  @include highlight;
  
  @include dark-mode { color: $light-color; }
}