// Post content

.post-header {
  margin-bottom: 1em;
  h1 { margin: 0 0 0.5em 0; }
}

.post-content {
  margin-bottom: 4em;
  
  img { 
    margin: 2em auto;
    display: block;
    object-fit: contain;
  }

  iframe {
    margin: 1em auto;
    display: block;
    max-width: 100%;
  }
}

.recent-posts { margin-bottom: 3em; }

// Responsive styles
@include breakpoint(md) {
  .post-header, .post-content > *, .recent-posts h1 {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-content {
    font-size: 1.125em;
    p:has(img), div:has(img), figure, img, .highlight, ul:has(li img) { max-width: 960px; }
  
    img {
      max-height: 800px;
    }

    ul:has(li img) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1em;
      padding: 0;
      margin: 2em 0;

      li {
        flex: 1 1 calc(50% - 0.5em);
        max-width: calc(50% - 0.5em);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        margin: 0;
      }
    }
  }
}
