$primary-color: #32302c;
$secondary-color: #A8A8A8;
$link-blue: #337799;
$light-grey: #F8F8F8;
$body-font: "Noto Serif", 'Times New Roman', Times, serif;
$sans-font: "Noto Sans", 'Tahoma', 'Arial', sans-serif;
$breakpoint-md: 768px;

@mixin light-bg {
  background-color: $light-grey;
  border-radius: .25em;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
}