$black-color: #1A1A1A;
$dark-color: #2A2A2A;
$white-color: #FAFAFA;
$light-color: #F2F2F2;
$grey-color: #A2A2A2;
$blue-color: #6399DA;
$orange-color: #F69D51;

$body-font: "Noto Serif", 'Times New Roman', Times, serif;
$sans-font: "Noto Sans", 'Tahoma', 'Arial', sans-serif;
$breakpoint-md: 768px;

@mixin highlight {
  background-color: $light-color;
  border-radius: .25em;
  
  [data-theme="dark"] & { background-color: $dark-color; }
}

@mixin dark-mode {
  [data-theme="dark"] & {
    @content;
  }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
}