<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <body>

    {%- include header.html -%}

    <main aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Glightbox JS -->
    {% if page.url contains "photo-gallery" or page.url contains "dima-afonin" %}
      <script src="{{ '/assets/js/glightbox.js' | prepend:site.base_url }}"></script>
      <script>
        const lightbox = GLightbox({
        selector: '.glightbox',
        touchNavigation: true,
        loop: true,
        zoomable: true
        });
      </script>
    {% endif %}

  </body>

</html>